<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro vehiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="boxInput">
    <ion-input [(ngModel)]="marca" label="Marca" label-placement="floating" fill="outline" placeholder="Ingrese la marca"></ion-input>
  </div>


  <div class="boxInput">
    <ion-input [(ngModel)]="modelo" label="Modelo" label-placement="floating" fill="outline" placeholder="Ingrese el modelo"></ion-input>
  </div>

  <div class="boxInput">
    <ion-input [(ngModel)]="color" label="Color" label-placement="floating" fill="outline" placeholder="Ingrese el color"></ion-input>
  </div>

  <div class="boxInput">
    <ion-input [(ngModel)]="patente" label="Patente" label-placement="floating" fill="outline" placeholder="Ingrese la patente"></ion-input>
  </div>

  <div class="boxInput">
    <ion-input [(ngModel)]="anio" type="number" label="Año" label-placement="floating" fill="outline" placeholder="Ingrese el año"></ion-input>
  </div>

  <div class="boxInput">
    <ion-input [(ngModel)]="imagen" label="Imagen" label-placement="floating" fill="outline" placeholder="Ingrese la imagen"></ion-input>
  </div>


  <div class="boxInput">
    <ion-button (click)="agregarAuto()" expand="block">Agregar vehiculo</ion-button>
  </div>

</ion-content>
